
.donation_card{

    display: flex;
    justify-content:center;
    gap: 2rem;
    margin-bottom: 5rem;
    margin-top: 1px;
    padding: 0rem;

    .icon_donation{
        background-color: var(--background-primary-color);
        border-radius: 100px;
        width: 4rem;
        padding: 0.7rem;   
        padding-top: 0.5rem;
        margin: 0rem;
        border: 0.5rem solid white;

        position: relative;
        top: 3.5rem;     
    }

    .card div {
        background-color: white;
        border-radius: 10px;
        width: 18rem;
        padding: 0.2rem;   
        padding-top: 0.5rem;
        height: 25rem;
        margin-top: 0rem;
        overflow: visible;
        box-shadow: 5px 7px 5px rgba(36, 36, 36, 0.1);

    }

    .card h2, p, h3{
        color: #2D2D33;
    }

    h2 {
        margin-top: 5rem;
        font-size: 25px;
        font-weight: 900;

    p {
        text-align: center;
    }
    }

    button {
        border-style: none;
        background-color: var(--button-primary-color);
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;

        width: 50%;
        height: 3rem;
        border-radius: 5px;
        margin-top: 2rem;

        cursor: pointer;
        transition: background-color 0.3s ease;
    }

     }



