.admin-page-container {
    display: flex;
    justify-content: center;

    .admin-aside {
        border: 1px solid var(--background-primary-color);

        display: flex;
        flex-direction: column;

        padding: 0% 1% 10% 1%;

        .logo {
            width: 80%;
            height: 80%;

            margin-top: 18%;
            margin-bottom: 10%;
        }

        .admin-nav {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;

            .admin-navbar-btn {
                width: 100%;
                height: 100%;

                border: none;
                background: none;
                cursor: pointer;

                border-bottom: 3px solid transparent;
                transition: border-bottom 0.3s ease;

                img {
                    width: 50%;
                    height: 50%;
                }
            }

            .admin-navbar-btn:hover {
                border-bottom: 1px solid var(--background-primary-color);
            }
        }

        .logout-button {
            margin-top: 20px;

            img {
                width: 40%;
                height: 40%;
                margin-left: 10px;
            }
        }
    }

    .admin-page-content {
        width: calc(100% - 155px);

        .admin-main-container {
            padding: 20px;
        }
    }
}