h1,
h3 {
    margin: 0;
}

.subtitle {
    color: var(--title-primary-color);
    font-size: 1rem;
}

.title {
    color: var(--background-primary-color);
    font-size: 2rem;
}

.hero {
    background-color: var(--background-primary-color);
    border-top: 1px solid rgb(191, 189, 189);

    height: 100vh;
    // height: calc(100% - 20vw);

    .title-img {
        display: flex;
        justify-content: space-evenly;
    }

    .hero-all-text {
        width: 35vw;
        padding: 0 0 5% 30%;
    }

    .hero-title {
        font-size: 3.3rem;
        text-align: left;
        padding-top: 40%;

    }

    .hero-text {
        font-size: 1.5rem;
        margin: 0;
    }

    .btn-donation {
        border-style: none;
        background-color: var(--button-primary-color);
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;

        margin-left: 30%;
        width: 30%;
        height: 2.8rem;
        border-radius: 5px;

        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-donation:hover {
        background-color: var(--button-hover-color);
    }

    .hero-dog {
        width: 45vw;

    }

    .waves {
        width: 100vw;
        position: relative;
        bottom: 150px;
    }
}

.section-adoption {
    background-image: url('../../assets/images/background.svg');
    background-repeat: no-repeat;

    .adoption-subtitle {
        font-weight: 800;
    }

    .adoption-title {
        padding-bottom: 2%;
    }

    .btn-adoption {
        border-style: none;
        background-color: var(--button-primary-color);
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;

        margin: 0 0 3% 43%;
        width: 13%;
        height: 3rem;
        border-radius: 5px;

        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-adoption:hover {
        background-color: var(--button-hover-color);
    }

}

.partner {
    background-image: url('../../assets/images/background_2.svg');
    padding-bottom: 5%;

    .partner-subtitle {
        padding-top: 3%;
    }

    .partner-title {
        padding-bottom: 3%;
    }

    .align-partner-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        width: 80vw;
        padding-left: 9%;
    }

         .btn-partner {
             border-style: none;
             background-color: var(--button-primary-color);
             color: #fff;
             font-size: 1.1rem;
             font-weight: 600;
    
             margin: 3% 0 0 43%;
             width: 13%;
             height: 3rem;
             border-radius: 5px;
    
             cursor: pointer;
             transition: background-color 0.3s ease;
         }
    
         .btn-partner:hover {
             background-color: var(--button-hover-color);
         }

}