    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .carousel {
        @extend .flex-row;
        color: black;

        .container-cards {
            @extend .flex-row;
            gap: 5%;

            width: 60%;
            margin-bottom: 2%;
        }

        .arrow {
            cursor: pointer;
            width: 40px;
        }

        .arrow-left {
            margin-right: 10px;
        }

        .arrow-right {
            margin-left: 10px;
        }
    }


    @media (max-width: 768px) {
        .carousel {
            // justify-content: initial;
            margin: 0px 15px;
            // overflow-x: auto;
            width: 90%;

            .card {
                flex: 0 0 auto;
                width: 70%;
            }

            .arrow {
                display: none;
            }

            .container-cards {
                width: 100%;
            flex: 0 0 auto;
            }
        }
    }