.admin-header {
    background-color: var(--background-primary-color);
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #fff;
        font-weight: 400;
    }
}

.admin-main-container {
    height: 80%;
}

.modal-volunteers-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;

    input {
        width: 350px;
    }
}