.main-container {
    text-align: center;

    .title {
        margin: 0;
        padding: 3rem 0 0.5rem 0;

        color: var(--title-primary-color);
        font-weight: 700;
        font-size: 1.3rem;
    }
    
    .subtitle {
        margin: 0;

        color: var(--title-secondary-color);
        font-size: 3rem;
    }

    .aboutus-main {
        background-image: url('../../assets/images/background.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 

        padding-bottom: 7rem;

        margin-top: 2rem;
        margin-bottom: 1rem;
        
        div {
            margin-top: 4rem;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
    
            .presentation-video {
                width: 30%;
                height: 30%;
            }
    
            p {
                color: #000;
                width: 30%;
                font-size: 1.2rem;
            }
        }
    }

    .aboutus-section-team {
        background-image: url('../../assets/images/background_2.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        padding-bottom: 7rem;
        padding-top: 3rem;

        .aboutus-team-cards {
            color: #2D2D33;

            padding: 5% 2% 0 10%;
            padding-right: 6rem;

            display: grid;
            grid-auto-flow: column;
            grid-template-rows: 1fr 1fr;
            gap: 5rem;
        }
    }
}