.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 5px #000;
    
    width: 60%;
    text-align: center;
    overflow: hidden;

    h2 {
        font-size: 2rem;
    }

    p {
        margin: 0;
        margin-bottom: 10%;
    }

    img {
        width: 100.7%;
    }
}

@media (max-width: 975px) {
    .card {
        width: 200px;

        h2 {
            font-size: 1.5rem;
        }

    }
}