h1,
h3 {
    margin: 0;
}

.subtitle {
    color: var(--title-primary-color);
    font-size: 1rem;
}

.title {
    color: var(--background-primary-color);
    font-size: 2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.btn {
    border-style: none;
    background-color: var(--button-primary-color);
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;

    height: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.align-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.margin-btn {
    margin-bottom: 50px;
}

.margin-top-btn {
    margin-top: 40px;
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.hero {
    background-color: var(--background-primary-color);
    border-top: 1px solid rgb(191, 189, 189);

    height: 100vh;
    // height: calc(100% - 20vw);

    .title-img {
        display: flex;
        justify-content: space-evenly;
    }

    .hero-all-text {
        width: 35vw;
        padding: 0 0 5% 30%;
    }

    .hero-title {
        font-size: 3.3rem;
        text-align: left;
        padding-top: 40%;

    }

    .hero-text {
        font-size: 1.5rem;
        margin: 0;
    }

    .btn-donation {
        margin-left: 30%;
        height: 2.8rem;

        button {
            width: 140px;
        }
    }

    .hero-dog {
        width: 45vw;

    }

    .waves {
        width: 100vw;
        position: relative;
        bottom: 150px;
    }
}

.section-adoption {
    background-image: url('../../../assets/images/background.svg');
    background-repeat: no-repeat;

    .adoption-subtitle {
        font-weight: 800;
    }

    .adoption-title {
        padding-bottom: 2%;
    }

    .btn-adoption {
        font-size: 1.1rem;
    }

}

.partner {
    background-image: url('../../../assets/images/background_2.svg');
    padding-bottom: 3%;

    .partner-subtitle {
        padding-top: 3%;
    }

    .partner-title {
        padding-bottom: 3%;
    }

    .align-partner-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        width: 80vw;
        padding-left: 9%;
    }

    .btn-partner {
        font-size: 1.1rem;
    }
}

.sponsor-volunteer {
    background-image: url('../../../assets/images/background.svg');

    .sponsor-section {
        @extend .flex-row;

        .sponsor-text {
            color: black;
            text-align: center;
        }
    }

    .btn-sponsor {
        font-size: 1rem;
        width: 45%;
    }
}

.volunteer-section {
    @extend .flex-row;

    .icon-container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        color: black;

        .icon-column {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;

            .icon-text {
                width: 180px;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                text-align: left;

                img {
                    margin-right: 10px;
                }

            }
        }
    }

    .btn-volunteer {
        margin-top: 5%;
        font-size: 1rem;
    }
}

.donation-section {
    background-image: url('../../../assets/images/bg-donation.svg');

    .donation-subtitle {
        font-size: 1, 1rem;
        font-weight: 900;
        color: black;

        margin-top: 5%;
    }

    .donation-title {
        font-size: 2.5rem;
    }

}