.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #26A59E;
    color: #fff;
}

.pagination button:hover:not(:disabled) {
    background-color: #ddd;
}

.arrowButton {
    font-size: 18px;
}

.arrowButton:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .pagination {
        justify-content: initial;
        margin: 0px 15px;
        overflow-x: auto;
    }
}