.contact-page-container {
    text-align: center;

    .title {
        margin: 0;
        padding: 3rem 0 0.5rem 0;

        color: var(--title-primary-color);
        font-weight: 700;
        font-size: 1.2rem;
    }

    .subtitle {
        margin: 0 0 2.5rem 0;

        color: var(--title-secondary-color);
        font-size: 3rem;
    }

    .contact-page-header {
        background-image: url('../../../assets/images/background.svg');
        background-position: center center;
        background-size: 75%;
        background-repeat: repeat;
        background-attachment: fixed;

        padding-top: 5%;
        padding-bottom: 10%;
    }

    .contact-page-main {
        background-image: url('../../../assets/images/background_2.svg');
        background-position: center center;
        background-size: 75%;
        background-repeat: repeat;
        background-attachment: fixed;

        display: flex;
        flex-direction: column;
        padding: 0 10% 10% 10%;
        text-align: center;

        h3 {
            margin-top: 3%;
            margin-right: 3%;
            font-size: 1.4rem;
            color: var(--title-secondary-color);
        }

        p {
            color: #000;
            text-align: left;
            font-size: 1.2rem;
        }

        .address {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            
            padding: 0 8% 5% 0;

            iframe {
                border: 0;
                margin-right: 1rem;
            }

            .address-text {
                margin-top: 2rem;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    margin-bottom: 1.2rem;
                }
            }
        }

        .contacts {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            margin-bottom: 5%;
            padding-left: 6%;
            padding-right: 8%;

            p {
                margin: 0;
            }

            .contacts-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: center;

                margin-bottom: 1.2rem;
            }

            .whatsapp {
                .whatsapp-link {
                    display: flex;
                    flex-direction: column;

                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        
                        p {
                            margin-left: 2%;
                        }
                    }
                }
            }

            .email {
                margin-left: 2rem;
            }

            .instagram {
                margin-left: 2rem;

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    p {
                        margin-left: 5%;
                    }
                }
            }
        }

        .questions {
            color: #000;
            margin-left: 6%;

            h3 {
                text-align: left;
            }

            details {
                border: 2px solid var(--background-primary-color);
                border-radius: 7px;
                width: 86%;

                margin: 1rem 0;
                padding: 1% 3%;

                text-align: left;

                summary {
                    list-style-type: none;
                    cursor: pointer;
                    outline: none;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                summary::-webkit-details-marker {
                    display: none;
                }

                summary::after {
                    content: '+';
                    color: var(--title-secondary-color);
                    font-size: 2rem;

                    margin: 0;
                    padding: 0;
                    margin-right: 8px;
                }

                p {
                    font-size: 1rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}