.navbar {
    background-color: var(--background-primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 4.5rem;
}

.logo {
    width: 4rem;
    height: 4rem;
}

.navbar_links {
    list-style-type: none;
    
    li {
        display: inline;
        padding: 0.5rem;

        .link {
            text-decoration: none;
            font-size: 1.1rem;
            color: #fff;
            border-bottom: 2px solid transparent;

            transition: border-bottom 0.3s ease, color 0.3s ease;
        }

        .link:hover {
            border-bottom: var(--text-hover-color) solid 1px;
            color: var(--text-hover-color);
        }
    }
}

.donate_btn {
    border-style: none;
    background-color: var(--button-primary-color);
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;

    width: 150%;
    height: 2.8rem;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donate_btn:hover {
    background-color: var(--button-hover-color);
}