.navbar {
    background-color: #5BB656;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 80px;
    height: 80px
}

.navbar_links {
    list-style-type: none;
    
    li {
        display: inline;
        padding: 10px;

        .link {
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            border-bottom: 2px solid transparent;

            transition: border-bottom 0.3s ease, color 0.3s ease;
        }

        .link:hover {
            border-bottom: #fff solid 1px;
        }
    }
}

.donate_btn {
    border-style: none;
    background-color: #26A59E;
    color: #fff;
    font-size: 20px;
    font-weight: 600;

    width: 200px;
    height: 50px;
    border-radius: 5px;

    cursor: pointer;
}