.container {
    padding: 80px 20px;
    text-align: center;
    background-image: url('../../assets/images/bg-gray-paw.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
.text {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.6;
    color: #000;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
  