section {
    background-image: url('../../assets/images/bg-gray-paw.svg');
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    padding-top: 110px;


    .call-title {
        color: #26A59E;
        font-weight: 900;
        font-size: 1.2rem;
        margin: 0;
        padding: 0 20px 0 20px;
    }

    .call-subtitle {
        color: #5BB656;
        font-weight: 900;
        font-size: 3rem;
        margin: 0;
        padding: 0 10px 0 10px;
    }

    .call-text {
        color: black;
        font-size: 1.5rem;
            }

    .call-text-1 {
        padding: 50px 40px 0 40px;

    }

    .call-text-2 {
        padding: 20px 40px 110px 40px;

    }


}