.aboutus-container {

    .aboutus-main {
        background-image: url('../../../assets/images/background.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-top: 5%;

        .aboutus-main-text {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding-bottom: 4rem;

            .text-about {
                color: #000;
                width: 35%;
                font-size: 1.2rem;
                text-align: center;
            }

            .presentation-video {
                width: 35%;
                height: 35%;
            }
        }
    }

    .team-title {
        text-align: center;
        color: var(--title-primary-color);
        font-weight: 700;
        font-size: 1.3rem;
        margin: 0px;
    }

    .team-subtitle {
        color: var(--title-secondary-color);
        font-size: 3rem;
    }

    .aboutus-section-team {
        background-image: url('../../../assets/images/background_2.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        padding-bottom: 60px;
        padding-top: 60px;

        .aboutus-team-cards-scroll {
            color: #2D2D33;

            padding: 5% 2% 0 10%;
            padding-right: 6rem;

            display: grid;
            grid-auto-flow: column;
            grid-template-rows: 1fr 1fr;
            gap: 5%;
        }
    }
}

@media (max-width: 975px) {
    .aboutus-container {
        .aboutus-main {
            .aboutus-main-text {
                flex-direction: column;
                gap: 10px;
                width: 100%;
                padding-bottom: 20px;

                .text-about {
                    width: 80%;
                }

                .presentation-video {
                    width: 70%;
                }
            }
        }

        .aboutus-section-team {
            padding-bottom: 40px;

            .aboutus-team-cards {
                justify-content: initial;
                margin: 0px 15px;
                overflow-x: auto;

                .aboutus-team-cards-scroll {
                    flex: 0 0 auto;
                    width: 70%;
                    margin-bottom: 20px;
                    gap: 10%;
                }
            }

        }

    }

}